<p id="notice"><%= notice %></p>

<h1>Exceller Offers</h1>

<table>
  <thead>
    <tr>
      <th>Exceller</th>
      <th>Position</th>
      <th>Response</th>
      <th>Created by</th>
      <th>Modified by</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exceller_offers.each do |exceller_offer| %>
      <tr>
        <td><%= exceller_offer.exceller_id %></td>
        <td><%= exceller_offer.position_id %></td>
        <td><%= exceller_offer.response %></td>
        <td><%= exceller_offer.created_by %></td>
        <td><%= exceller_offer.modified_by %></td>
        <td><%= exceller_offer.deleted_at %></td>
        <td><%= link_to 'Show', exceller_offer %></td>
        <td><%= link_to 'Edit', edit_exceller_offer_path(exceller_offer) %></td>
        <td><%= link_to 'Destroy', exceller_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exceller Offer', new_exceller_offer_path %>
