<%= form_with(model: interview_criterium, local: true) do |form| %>
  <% if interview_criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interview_criterium.errors.count, "error") %> prohibited this interview_criterium from being saved:</h2>

      <ul>
        <% interview_criterium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :interview_id %>
    <%= form.number_field :interview_id %>
  </div>

  <div class="field">
    <%= form.label :skill_id %>
    <%= form.number_field :skill_id %>
  </div>

  <div class="field">
    <%= form.label :created_by %>
    <%= form.number_field :created_by %>
  </div>

  <div class="field">
    <%= form.label :modified_by %>
    <%= form.number_field :modified_by %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
