<p id="notice"><%= notice %></p>

<h1>Interview Criteria</h1>

<table>
  <thead>
    <tr>
      <th>Interview</th>
      <th>Skill</th>
      <th>Created by</th>
      <th>Modified by</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interview_criteria.each do |interview_criterium| %>
      <tr>
        <td><%= interview_criterium.interview_id %></td>
        <td><%= interview_criterium.skill_id %></td>
        <td><%= interview_criterium.created_by %></td>
        <td><%= interview_criterium.modified_by %></td>
        <td><%= interview_criterium.deleted_at %></td>
        <td><%= link_to 'Show', interview_criterium %></td>
        <td><%= link_to 'Edit', edit_interview_criterium_path(interview_criterium) %></td>
        <td><%= link_to 'Destroy', interview_criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview Criterium', new_interview_criterium_path %>
