<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @position.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @position.created_by %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= @position.modified_by %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @position.deleted_at %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
