<%= form_with(model: exceller_skill, local: true) do |form| %>
  <% if exceller_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exceller_skill.errors.count, "error") %> prohibited this exceller_skill from being saved:</h2>

      <ul>
        <% exceller_skill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exceller_id %>
    <%= form.number_field :exceller_id %>
  </div>

  <div class="field">
    <%= form.label :skill_id %>
    <%= form.number_field :skill_id %>
  </div>

  <div class="field">
    <%= form.label :proficiency %>
    <%= form.number_field :proficiency %>
  </div>

  <div class="field">
    <%= form.label :created_by %>
    <%= form.number_field :created_by %>
  </div>

  <div class="field">
    <%= form.label :modified_by %>
    <%= form.number_field :modified_by %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
