<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">      
      <%= form_with(model: @interview, local: true, :class => 'col-md-12') do |f| %>
        <!-- left column -->
        <div class="col-md-12">          
          <!-- general form elements -->
          <div class="card card-primary">            
            <!-- form start -->            
              <div class="card-body">
                            
                <div class="row">
                  <div class="form-group col-4">
                    <%= f.label :name %>
                    <%= f.text_field :name, :class => 'form-control' %>
                  </div>
                
                  <div class="form-group col-3">
                    <%= f.label :position %>
                    <span class="required">*</span>
                    <%= f.collection_select :position_id, Position.all, :id, :name, {include_blank: '-- Choose --'}, {:class => 'form-control', :required => true }%>
                  </div>
                
                  <div class="form-group col-3">
                    <%= f.label :description %>
                    <%= f.text_area :description, :class => 'form-control' %>
                  </div>

                  <div class="form-group col-2">
                    <%= f.submit :class => 'btn btn-primary float-right mt-4', :id => 'submit-interview'  %>
                  </div>
                </div>              

              </div>
                   
          </div>
          <!-- /.card -->          
        </div>

        <!-- left column -->
        <div class="col-md-12">          
          <!-- general form elements -->
          <div class="card card-primary">            
            <!-- form start -->            
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Skill</th>
                    <th>Minimum score</th>            
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody id="interviewCriteriaTableBody">

                  <% @interview_criteria.each do |interview_criteria| %>
                  
                  <tr class="interview-criteria-line">
                    <td>                     
                      <input name="interview[interview_criteria[][skill_id]]" id="interview_criteria-select" value="<%= interview_criteria&.skill_id %>" class="form-control" style="display: none"/>
                      <input name="show_skill_set" id="interview_criteria-select" value="<%= interview_criteria&.skill&.name %>" class="form-control" readonly/>
                    </td>
                    <td>
                      <input name="interview[interview_criteria[][minimum_score]]" id="commodity-select" value="<%= interview_criteria&.minimum_score %>" class="form-control" readonly/>                      
                    </td>
                    <td>
                      <a href="#" class="remove-interview-criteria"><i class="fa fa-times"></i></a>
                    </td>
                  </tr>
                    
                  <% end %>
                  <tr>  
                    <td>
                      <%= select_tag 'interview[interview_criteria[][skill_id]]',  options_from_collection_for_select( Skill.all, 'id', 'name' ) , { :prompt => "-- Choose --",  'data-parsley-required' => 'true', :class => 'form-control', :id => 'skill_select'} %>
                    </td> 
                    <td>
                      <input id="minimum_score_input" name="interview[interview_criteria[][minimum_score]]" type="number" step="any" class="form-control" data-parsley-required/>
                    </td>             
                    <td>
                        <a href="#" class="btn btn-primary" id="add-interview-criteria-line">Add</a>
                    </td>
                  </tr>
                </tbody>            
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script>
$( function() { 
  var REMOVE_dispatchLINE_BTN = '<a href="#" class="remove-interview-criteria"><i class="fa fa-times"></i></a>';

  $('.remove-interview-criteria').on('click', function(e) { 
    e.preventDefault(); 
    $(e.target).closest('tr').fadeOut('slow', function(){
      $(this).remove();
    });
  });

  $('#submit-interview').click( function(e) {
    if( $('.interview-criteria-line').length === 0 ) {
      toastr.error("You need to add atleast one criteria."); 
      e.preventDefault();
      return; 
    }
  });

  $("#add-interview-criteria-line").click( function(e) { 
    e.preventDefault(); 
    var skill = $('#skill_select').val();
    var minimum_score = $('#minimum_score_input').val();

    var $this = $(this); 

    var $interviewCriteriaForm = $this.closest('tr'); 

    var valid = true; 

    // $interviewCriteriaForm.find(':input').each( function() { 
    //     $(this).parsley().validate(); 
    //     valid = $(this).parsley().isValid() && valid; 
    // });

    if( !valid ) {
      return; 
    }

    var flag = validate_interview_criteria(this, skill, minimum_score);
    console.log("validate quantity: ");
    console.log(flag);
  }); 

  function validate_interview_criteria(node, skill, minimum_score)
  {
    if( skill!="" && minimum_score!="")
    {
      var $this = $(node); 

      var $interviewCriteriaForm = $this.closest('tr'); 
      
      var $newRow = $interviewCriteriaForm.clone();

      $newRow.find('td').last().html(REMOVE_dispatchLINE_BTN); 

      $newRow.find('#skill_select').val(skill); 

      $newRow.find(':input').attr('readonly', true).removeAttr('id'); 

      $newRow.addClass('interview-criteria-line');

      $newRow.insertBefore( $interviewCriteriaForm); 

      $interviewCriteriaForm.find(':input').val(''); 
    }
  }
});
</script>