<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employment_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employment_type.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @employment_type.created_by %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= @employment_type.modified_by %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @employment_type.deleted_at %>
</p>

<%= link_to 'Edit', edit_employment_type_path(@employment_type) %> |
<%= link_to 'Back', employment_types_path %>
