<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          
          <!-- form start -->
          <%= form_with(model: @skill, local: true) do |f| %>
            <div class="card-body">
              <% if @skill.errors.any? %>
                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved.
                  </div>

                  <div class="panel-body">
                    <ul>
                      <% @skill.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>              
              <div class="row">
                <div class="form-group col-4">
                  <%= f.label :name %>
                  <%= f.text_field :name, :class => 'form-control' %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-4">
                  <%= f.label :skill_type %>
                  <span class="required">*</span>
                  <%= f.collection_select :skill_type_id, SkillType.all, :id, :name, {include_blank: '-- Choose --'}, {:class => 'form-control', :required => true }%>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-4">
                  <%= f.label :description %>
                  <%= f.text_area :description, :class => 'form-control' %>
                </div>
              </div>
              
            </div>
            <!-- /.card-body -->
            
            <div class="card-footer">
              <%= f.submit :class => 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
