<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rep name</th>
      <th>Address</th>
      <th>Status</th>
      <th>Created by</th>
      <th>Modified by</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.rep_name %></td>
        <td><%= client.address_id %></td>
        <td><%= client.status %></td>
        <td><%= client.created_by %></td>
        <td><%= client.modified_by %></td>
        <td><%= client.deleted_at %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
