<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">Projects</h1>
      </div><!-- /.col -->      
    </div><!-- /.row -->
    <div class="row mb-2">
      <div class="col-sm-10">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Show Project</li>
        </ol>
      </div><!-- /.col -->
      <div class="col-sm-2">
        <div class="title-action float-sm-right">
          <%= link_to 'Back', projects_path, :class => "btn btn-default" %>
        </div>
      </div><!-- /.col -->
    </div>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-body">       
            <div class="row">
              <div class="form-group col-2">
                <label>Name:</label>
                <input type="text" value="<%= @project.name %>" class="form-control" placeholder="N/A" disabled>
              </div>
              <div class="form-group col-2">
                <label>Client:</label>
                <input type="text" value="<%= @client.name %>" class="form-control" placeholder="N/A" disabled>
              </div>
              <div class="form-group col-2">
                <label>Start date:</label>
                <input type="text" value="<%= @project.start_date.to_date.to_formatted_s(:long_ordinal) %>" class="form-control" placeholder="N/A" disabled>
              </div>
              <div class="form-group col-2">
                <label>End date:</label>
                <input type="text" value="<%= @project.end_date.to_date.to_formatted_s(:long_ordinal) %>" class="form-control" placeholder="N/A" disabled>
              </div>
              <div class="form-group col-2">
                <label>Status:</label>
                <input type="text" value="<%= @project.status.humanize %>" class="form-control" placeholder="N/A" disabled>
              </div>
              <div class="form-group col-2 mt-4">
                <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Project Requirement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Assigned Excellers</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-three-tabContent">
              <div class="tab-pane fade active show" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Skill Type</th>
                      <th>Number of Excellers</th>            
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="projectRequirementsTableBody">

                    <% @project_requirements&.each do |project_requirement| %>
                    
                    <tr class="project-requirements-line">                                          
                      <td>                             
                        <input name="project[project_requirements[][project_requirement_id]]" id="project_requirement_id_input"  value="<%= project_requirement&.id %>" class="form-control" style="display: none"/>                   
                        <input name="show_skill_set" id="project_requirements-select" value="<%= project_requirement&.skill_type&.name %>" class="form-control" readonly/>
                      </td>
                      <td>
                        <input name="project[project_requirements[][amount]]" id="commodity-select" value="<%= project_requirement&.amount %>" class="form-control" readonly/>                      
                      </td>
                      <td>
                        <a href="#" class="remove-project_requirements"><i class="fa fa-times"></i></a>
                      </td>
                    </tr>
                      
                    <% end %>
                    <tr>                                           
                      <td>
                        <input name="project[project_requirements[][project_id]]" id="project_id_input" value="<%= @project&.id %>" class="form-control" style="display: none"/>  
                        <%= select_tag 'project[project_requirements[][skill_type_id]]',  options_from_collection_for_select( SkillType.all, 'id', 'name' ) , { :prompt => "-- Choose --",  'data-parsley-required' => 'true', :class => 'form-control', :id => 'skill_type_select'} %>
                      </td> 
                      <td>
                        <input id="amount_input" name="project[project_requirements[][amount]]" type="number" step="any" class="form-control" data-parsley-required/>
                      </td>             
                      <td>
                          <a href="#" class="btn btn-primary" id="add-project-requirements-line">Add</a>
                      </td>
                    </tr>
                  </tbody>            
                </table>
              </div>
              <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                  Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam. 
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$( function() { 
  var REMOVE_dispatchLINE_BTN = '<a href="#" class="remove-project_requirements"><i class="fa fa-times"></i></a>';

  $('#projectRequirementsTableBody').on('click', '.remove-project_requirements', function(e) { 
    ie8SafePreventEvent(e); 
    
    var pr_id = $(this).closest('tr').find('#project_requirement_id_input').val(); 
    $.ajax({
        url:'/projects/async_remove_project_requirement',
        type:'POST',
        dataType:'json',
        data:{
          project: {
            project_requirement_id: pr_id
          }	            
        },
        before: function() {
        
        },
        success:function(data){
          console.log(data);	
          if(!data){                   
            return;
          }   
          $(e.target).closest('tr').fadeOut('slow', function(){
            $(this).remove();
          });                        
        },
        error:function(data){
            console.log(data);
        }
      });
    
  });

  $('#submit-interview').click( function(e) {
    if( $('.project-requirements-line').length === 0 ) {
      toastr.error("You need to add atleast one criteria."); 
      e.preventDefault();
      return; 
    }
  });

  $("#add-project-requirements-line").click( function(e) { 
    e.preventDefault(); 
    var project = $('#project_id_input').val();
    var skill_type = $('#skill_type_select').val();
    var amount = $('#amount_input').val();

    var $this = $(this); 

    var $projectRequirementsForm = $this.closest('tr'); 

    // var valid = true; 

    // $projectRequirementsForm.find(':input').each( function() { 
    //     $(this).parsley().validate(); 
    //     valid = $(this).parsley().isValid() && valid; 
    // });

    // if( !valid ) {
    //   return; 
    // }

    var flag = validate_project_requirements(this, project, skill_type, amount);
    
  }); 

  function validate_project_requirements(node, project, skill_type, amount)
  {
    if( project!="" && skill_type!="" && amount!="")
    {
      $.ajax({
        url:'/projects/async_save_project_requirement',
        type:'POST',
        dataType:'json',
        data:{
          project: {
            project_id: project,
            skill_type_id: skill_type,
            no_of_excellers: amount
          }	            
        },
        before: function() {
        
        },
        success:function(data){
          console.log(data);	
          if(data==null && data==''){                
            return;
          }   
          var $this = $(node); 

          var $projectRequirementsForm = $this.closest('tr'); 
          
          var $newRow = $projectRequirementsForm.clone();

          $newRow.find('td').last().html(REMOVE_dispatchLINE_BTN); 

          $newRow.find('#skill_type_select').val(skill_type); 

          $newRow.find('#project_requirement_id_input').val(data);           

          $newRow.find(':input').attr('readonly', true).removeAttr('id'); 

          $newRow.addClass('project-requirements-line');

          $newRow.insertBefore( $projectRequirementsForm); 

          $projectRequirementsForm.find(':input').val('');                         
        },
        error:function(data){
            console.log(data);
        }
      });
      
    }
  }
  function ie8SafePreventEvent(e){
    if(e.preventDefault){ e.preventDefault()}
    else{e.stop()};

    e.returnValue = false;
    e.stopPropagation();        
  } 
});
</script>