<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Postal code</th>
      <th>Country</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Sub city</th>
      <th>Woreda</th>
      <th>House no</th>
      <th>Home phone</th>
      <th>Cell phone</th>
      <th>Work phone</th>
      <th>Created by</th>
      <th>Modified by</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.email %></td>
        <td><%= address.postal_code %></td>
        <td><%= address.country %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.zip_code %></td>
        <td><%= address.sub_city %></td>
        <td><%= address.woreda %></td>
        <td><%= address.house_no %></td>
        <td><%= address.home_phone %></td>
        <td><%= address.cell_phone %></td>
        <td><%= address.work_phone %></td>
        <td><%= address.created_by %></td>
        <td><%= address.modified_by %></td>
        <td><%= address.deleted_at %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
