<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Excellers</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Excellers</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="title-action float-sm-right">
              <%= link_to 'New Exceller', new_exceller_path, :class => "btn btn-primary" %>
            </div>           
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped iraps_datatable">
              <thead>
                <tr>
                  <th></th>
                  <th>Full name</th>
                  <th>Position</th>
                  <th>Years of experience</th>
                  <th>Contract signing date</th>
                  <th>Employment type</th>
                  <th>Duty station</th>
                  <th>Status</th>
                  <th>Created by</th>                   
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @excellers.each do |exceller| %>
                  <% @position = Position.find_by_id(exceller.position_id) %>
                  <% @employment_type = EmploymentType.find_by_id(exceller.employment_type_id) %>
                  <% @duty_station = DutyStation.find_by_id(exceller.duty_station_id) %>
                  <% @created_by = User.find_by_id(exceller.created_by) %>
                <tr>
                  <td>
                    <a href="<%= exceller_path(exceller)%>"> 
                      <img alt="Profile picture" id="your_preview_id" class="profile-picture-small" src="<%= exceller.profile_picture_url ? 'uploads/' + exceller.profile_picture_url : image_url('defualt-profile.png') %>">
                    </a>
                  </td>
                  <td>
                    <a href="<%= exceller_path(exceller)%>"> 
                      <%= exceller.name %>
                    </a>
                  </td>
                  <td><%= @position.name %></td>
                  <td><%= exceller.years_of_experience %></td>
                  <td><%= exceller.contract_signing_date.to_date.to_formatted_s(:long_ordinal) %></td>
                  <td><%= @employment_type.name %></td>
                  <td><%= @duty_station.name %></td>
                  <td><%= exceller.status_id.humanize %></td>
                  <td><%= @created_by.name %></td>            
                  <td>
                    <a href="<%= edit_exceller_path(exceller)%>" class="btn btn-warning btn-sm">
                      <i class="fa fa-edit" aria-hidden="true"></i>  
                      Edit                   
                    </a>
                    <%= link_to exceller, method: :delete, :class => "btn btn-danger btn-sm", :data=> { :confirm => "Are you sure?" }  do %>
                      <i class="fa fa-archive"></i>   
                      Delete     
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th>Full name</th>
                  <th>Position</th>
                  <th>Years of experience</th>
                  <th>Contract signing date</th>
                  <th>Employment type</th>
                  <th>Duty station</th>
                  <th>Status</th>
                  <th>Created by</th>                   
                  <th>Actions</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>
<!-- /.content -->

<script>
  $(document).ready(function() {
    
    
  });
</script>
