<p id="notice"><%= notice %></p>

<h1>Exceller Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Exceller</th>
      <th>Address</th>
      <th>Status</th>
      <th>Created by</th>
      <th>Modified by</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exceller_addresses.each do |exceller_address| %>
      <tr>
        <td><%= exceller_address.exceller_id %></td>
        <td><%= exceller_address.address_id %></td>
        <td><%= exceller_address.status %></td>
        <td><%= exceller_address.created_by %></td>
        <td><%= exceller_address.modified_by %></td>
        <td><%= exceller_address.deleted_at %></td>
        <td><%= link_to 'Show', exceller_address %></td>
        <td><%= link_to 'Edit', edit_exceller_address_path(exceller_address) %></td>
        <td><%= link_to 'Destroy', exceller_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exceller Address', new_exceller_address_path %>
