<p id="notice"><%= notice %></p>

<p>
  <strong>Exceller:</strong>
  <%= @exceller_address.exceller_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @exceller_address.address_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exceller_address.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @exceller_address.created_by %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= @exceller_address.modified_by %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @exceller_address.deleted_at %>
</p>

<%= link_to 'Edit', edit_exceller_address_path(@exceller_address) %> |
<%= link_to 'Back', exceller_addresses_path %>
