<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <div class="nav-header">
    <div class="profile-element">
      <%=link_to "/" do %>
      <span>
        <%
=begin%>
 <img alt="RTS" class="img-circle" src="<%= image_url('excellerent-logo.png') %>"> 
<%
=end%>
      </span>
      <% end %>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="<%= image_url('avatar.png') %>" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block"><%= current_user.first_name + " " + current_user.last_name %></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-hand-holding-usd"></i>
            <p>
              Client Module
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">            
            <li>
              <%= link_to clients_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Clients</p>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller('projects') %>">
              <%= link_to projects_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Projects</p>
              <% end %>
            </li>
          </ul>
        </li> 
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-truck"></i>
            <p>
              Recruitment Module
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">  
            <li class="<%= 'active' if is_active_controller('excellers') %>">
              <%= link_to excellers_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Excellers</p>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller('positions') %>">
              <%= link_to positions_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Positions</p>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller('employment_types') %>">
              <%= link_to employment_types_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Employment Types</p>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller('duty_stations') %>">
              <%= link_to duty_stations_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Duty Stations</p>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller('skill_types') %>">
              <%= link_to skill_types_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Skill Types</p>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller('skills') %>">
              <%= link_to skills_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Skills</p>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller('interviews') %>">
              <%= link_to interviews_url, :class => "nav-link" do %>
                <i class="nav-icon fas fa-building"></i>
                <p>Interviews</p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-file-word"></i>
            <p>
              Report
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">            
            <li class="<%= 'active' if is_active_controller('summary_reports') %>">
              <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Summary Reports</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tools"></i>
            <p>
              Administrator
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">     
            <li class="<%= 'active' if is_active_controller('users') %>">
              <%= link_to users_url, :class => "nav-link" do %>
                <i class="fas fa-user nav-icon"></i>
                <p>Users</p>
              <% end %>
            </li>       
            <li class="<%= 'active' if is_active_controller('permissions') %>">
              <%= link_to permissions_url, :class => "nav-link" do %>
                <i class="fas fa-user-tag nav-icon"></i>
                <p>Permissions</p>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
